html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f6f6f6;
  list-style: none;
  font-size: 14px;
}
body {
  height: 3602px;
  width: 1920px;
  background-color: #030303;
  position: relative;
  display: flex;  
  justify-content: center;
}
.all__middle{
  background-color:#f6f6f6;
  display: flex;
  flex-direction: column;
  height: 100%;
  width:1640px;
}
/* section排版 */
.page1__div{
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.manu__nav{
  height:70px;
  width:100%;
  background-color:rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  letter-spacing:1px;
}
/* 文字排版 */
.point_section{
  position: absolute;
  top: 150px;
  left: 0px;
  width: auto;
  height: 250px;
  opacity: 0.25;
}
.section__div {
  position: relative;
  height: 1010px;
} 
section{
  position: absolute;
  z-index: 1;
  top: 600px;
  left: 209px;
  height: 155px;
  width: 625px;
  /* background-color: rgb(97, 102, 102); */
  display: flex;
  flex-direction: column;
}
.p2{
  margin-right: -15px;
}
section > div{
  font-size: 96px;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom:5px;
  letter-spacing :0.16em;
}
.yellow__box__div{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yellow__box{
  background-color: #EEFF00;
  width: 100%;
  height: 16px;
  color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.yellow__box p{
  display: flex;
  margin-left: 12px;
  letter-spacing :6.3em;
  white-space: nowrap
}
.yellow__box__div .mail{  
  letter-spacing :1.47em;
  margin-left:20px;
  margin-top:-70px ;
  margin-left:25px;
}


/*右邊MACAP圖案*/
section + div {
  position: relative;
  height: 1080px;
  width: 1130px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.section_bg{
  position: absolute;
  right: 0;
}
/* section排版 */ 
/* e    n    d */
/* section排版 */
.about__div{
  background-color: #d8d8d8;
  height: 923px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.about__div > div >img {
  background-color: #ff5f5f;
  width: 465px;
  height: 609px; 
  position: absolute;
  left: 343px;
  top: 236px;  
  z-index: 1;
}
.point{
  width: 180px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 200px;
  opacity: 0.2;
}
.photo__bg{
  background-color:#353535;
  width: 465px;
  height: 609px;
  position: absolute;
  top: 160px;
  left: 260px;
}
article{
  width: 828px;
  color: #030303;
  line-height: 30px;
  letter-spacing :0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  right: 0px;
  top: 520px;
}

/*12宮格排列
work__div最外面DIV
box__div 12宮格外框
color__box 

experience_div  經歷內容
*/
.work__word{
font-size: 36px;
position: absolute;
top:-150px;
letter-spacing:1px;
}
.point_work{
  position: absolute;
  top: -310px;
  left: -50px;
  width: auto;
  height: 300px;
  opacity: 0.25;
}

.work__div{
  color: #030303;
  position: relative;
  margin-top: 238px;
  margin-bottom: 208px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__div{
  width: 625px;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
.color__box__mid{
  width: 302px;
  height: 302px;
  background-color: #d9d9d9;
  position: absolute;
  top: 161px;
}

.color__box{
  width: 141px;
  height: 141px;
  background-color: #d9d9d9;
}
.experience__div{
  width: 625px;
  height: 625px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jods__adj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jods{
  display:flex;
  gap: 15px;
  color: #353535;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jods> li:nth-child(odd) {
  margin-left:15px ;
  letter-spacing :0.6em;
}
.jods> li:nth-child(2) {
  margin-left:68px ;
  letter-spacing :4.5em;
}
.jods> li:nth-child(4) {
  margin-left:15px ;
  letter-spacing :0.46em;
}
.jods> li:nth-child(6) {
  margin-left:16px ;
  letter-spacing :0.35em;
}
.jods> li:nth-child(8) {
  margin-left:15px ;
  letter-spacing :0.24em;
}
/* .jods> li:nth-child(10) {
  margin-left:5px ;
  letter-spacing :0.17em;
} */


.skill__postion{
  position: relative;
}
.skill__word{
  color: #030303;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
  margin-top: -80px;
  margin-bottom: 140px;
  letter-spacing:1px;
}
.point_skill{
  position: absolute;
  top: 3250px;
  right: 70px;
  width: auto;
  height: 200px;
  opacity: 0.25;
}
.skill__word__ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  gap: 45px;
}
.skill__word__ul li{
  height: 60px;
  width:60px ;
  border-radius: 50%;
  background-color:#EEFF00;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
footer {
  background-color: #030303;
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 100%;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
footer ul{
  display: flex;
  gap: 200px;
}