@media screen and (min-width:769px){

  .desktop-only {
    display: contents;
  }
  .mobile-only {
    display:none;
  }
  a{
  color: #f6f6f6;
  text-decoration: none;
  }

html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f6f6f6;
  list-style: none;
  font-size: 14px;
}
body {
  height: 3602px;
  width: 1920px;
  background-color: #030303;
  position: relative;
  display: flex;  
  justify-content: center;
}
.all__middle{
  background-color:#f6f6f6;
  display: flex;
  flex-direction: column;
  height: 100%;
  width:1640px;
}
/* section排版 */
.page1__div{
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.manu__nav{
  height:70px;
  width:100%;
  background-color:rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  letter-spacing:1px;
}
.manu__nav a{
  padding:30px 150px;
  text-align: center;
}
/* 文字排版 */
.point_section{
  position: absolute;
  top: 150px;
  left: 0px;
  width: auto;
  height: 250px;
  opacity: 0.25;
}
.section__div {
  position: relative;
  height: 1010px;
} 
section{
  position: absolute;
  z-index: 1;
  top: 600px;
  left: 209px;
  height: 155px;
  width: 625px;
  /* background-color: rgb(97, 102, 102); */
  display: flex;
  flex-direction: column;
}
.p2{
  margin-right: -15px;
}
section > div{
  font-size: 96px;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom:5px;
  letter-spacing :0.16em;
}
.yellow__box__div{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yellow__box{
  background-color: #EEFF00;
  width: 100%;
  height: 16px;
  color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.yellow__box p{
  display: flex;
  margin-left: 12px;
  letter-spacing :6.3em;
  white-space: nowrap
}
.yellow__box__div .mail{  
  letter-spacing :1.47em;
  margin-left:20px;
  margin-top:-70px ;
  margin-left:25px;
}


/*右邊MACAP圖案*/
section + div {
  position: relative;
  height: 1080px;
  width: 1130px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.section_bg{
  position: absolute;
  right: 0;
}
/* section排版 */ 
/* e    n    d */
/* section排版 */
.about__div{
  background-color: #d8d8d8;
  height: 923px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.about__div > div >img {
  background-color: #ff5f5f;
  width: 465px;
  height: 609px; 
  position: absolute;
  left: 343px;
  top: 236px;  
  z-index: 1;
}
.point{
  width: 180px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 200px;
  opacity: 0.2;
}
.photo__bg{
  background-color:#353535;
  width: 465px;
  height: 609px;
  position: absolute;
  top: 160px;
  left: 260px;
}
article{
  width: 828px;
  color: #030303;
  line-height: 30px;
  letter-spacing :0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  right: 0px;
  top: 520px;
}

/*12宮格排列
work__div最外面DIV
box__div 12宮格外框
color__box 

experience_div  經歷內容
*/
.work__word{
font-size: 36px;
position: absolute;
top:-150px;
letter-spacing:1px;
}
.point_work{
  position: absolute;
  top: -310px;
  left: -50px;
  width: auto;
  height: 300px;
  opacity: 0.25;
}

.work__div{
  color: #030303;
  position: relative;
  margin-top: 238px;
  margin-bottom: 208px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__div{
  width: 625px;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
.color__box__mid{
  width: 302px;
  height: 302px;
  background-color: #d9d9d9;
  position: absolute;
  top: 161px;
}

.color__box{
  width: 141px;
  height: 141px;
  background-color: #d9d9d9;
}
.experience__div{
  width: 625px;
  height: 625px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jods__adj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jods{
  display:flex;
  gap: 15px;
  color: #353535;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jods> li:nth-child(odd) {
  margin-left:15px ;
  letter-spacing :0.6em;
}
.jods> li:nth-child(2) {
  margin-left:68px ;
  letter-spacing :4.5em;
}
.jods> li:nth-child(4) {
  margin-left:15px ;
  letter-spacing :0.46em;
}
.jods> li:nth-child(6) {
  margin-left:16px ;
  letter-spacing :0.35em;
}
.jods> li:nth-child(8) {
  margin-left:15px ;
  letter-spacing :0.24em;
}
/* .jods> li:nth-child(10) {
  margin-left:5px ;
  letter-spacing :0.17em;
} */


.skill__postion{
  position: relative;
}
.skill__word{
  color: #030303;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
  margin-top: -80px;
  margin-bottom: 140px;
  letter-spacing:1px;
}
.point_skill{
  position: absolute;
  top: 3250px;
  right: 70px;
  width: auto;
  height: 200px;
  opacity: 0.25;
}
.skill__word__ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  gap: 45px;
}
.skill__word__ul li{
  height: 60px;
  width:60px ;
  border-radius: 50%;
  background-color:#EEFF00;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
footer {
  background-color: #030303;
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 100%;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
footer ul{
  display: flex;
  gap: 200px;
}
}
/* 手機板 
手機板 
手機板 
手機板 

手機板 
手機板 
手機板 
手機板 

手機板 
手機板 
*/



@media (max-width: 768px) { 
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display:contents;
  }

  .menu-toggle {
    display: none;
  }

    .desktop-menu{
  display: none;
}
  html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #f6f6f6;
  list-style: none;
  font-size: 14px;
  width: auto;
  height: 667px;
    min-width: 375px;
}

body {
  width: auto;
  height: 667px;
  position: relative;
  justify-content: center;
}
.mobile-only{
  background-color:#f6f6f6;
  flex-direction: column;
  height: 100%;
  width:auto;
}

/* section排版 */
.page1__div{
  color: #f6f6f6;
  flex-direction: column;
  background-color: #353535;
  display: flex;
}

.manu__nav{
  height:70px;
  width:100%;
  background-color:rgba(0,0,0,1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  letter-spacing:1px;
  position: absolute;
  z-index: 10;
}
nav.desktop-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/*圓形*/
.henberger{
  background-color: #000000;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 14px;
  right: 20px;
  border-radius:50%;
  cursor: pointer;
  z-index: 10;
}

/*漢堡選單製作*/
.henberger span {
  background-color: #f6f6f6;
  display: block;
  border-radius: 3px;
  width: 25px;
  height: 4px;
  margin: 6px 0;
}

/*選單抽屜*/
.mobile-menu {
  display: flex;
  position: fixed;
  top: 40px;
  width: 100%;
  height: 50%;
  left: -100%;
  /*東西先放畫面外*/
  background-color:#353535;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: top 0.5s linear;
  /*CSS動畫效果 從左邊出現 花 0.3小 平滑*/
  z-index: 5;
  cursor: pointer;
}

/*手機板手機樣式*/
.mobile-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-menu {  
  display: none;
  top: 14px;
  right: 14px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 12;
  font-weight: 800;
  position: absolute;
  z-index: 1;
} 


/*背景遮罩*/
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/*方塊被狗選時顯示選單*/
#menu-checkbox:checked~ .mobile-only .mobile-menu {
  left: 0px;
}

#menu-checkbox:checked~.mobile-only .menu-overlay {
    display: block;
}
#menu-checkbox:checked~.mobile-only .close-menu{
    display: block;
}

#menu-checkbox:checked~.mobile-only .page1__div .henberger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  /*因為上面設定的大小沒有占整個螢幕   這邊讓他在上面就可以了*/
}


/*點點*/
.point_section{
  position: absolute;
  top: 86px;
  left: -180px;
  width: auto;
  height: 250px;
  opacity: 0.25;
  z-index: 0;
}
.section__div{
  font-weight:350;
  position: relative;
  width: 100%;
  height: 141px;
  margin-top: 50px;
}
/* 文字排版 */
section{
  height: 141px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 66px;
  }
section > div{
  font-size: 40px;
  display: flex;
  margin-bottom:5px;
  letter-spacing :0.16em;
}
.p2{
  font-size: 32px;
  margin-right: -15px;
  margin-top: 9px;
}
.yellow__box__div{
  font-size: 16px;
  display: flex;  
  flex-direction: column;
  align-items: center;
}
.yellow__box{
  background-color: #EEFF00;
  width: 210px;
  height: 16px;
  color: #030303;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-left: 10px;
}
.yellow__box p{
  display: flex;
  margin-left: 0px;
  letter-spacing :1.4em;
  white-space: nowrap
}
.yellow__box__div .mail{  
  letter-spacing :0.14em;
  margin-left:10px;
}
/*右邊MACAP圖案*/

.section_bg{
  display: flex;
  flex-direction: row;
  justify-content: center;
    margin-top: 141px;
  background-color: #d9d9d9;

}
.section_bg>img{
  height: 456px;
  width: auto;
  overflow: hidden;
  min-width: 375px;
}

/* section排版 */ 
/* e    n    d */
/* section排版 */
.about__div__flrx{
  display: flex;
  justify-content: center;
  align-items: center;

}

.about__div{
  height: auto;
  width: auto;
  position: absolute;
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
  top: 340px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}
article{
  color: #f6f6f6;
  line-height: 30px;
}

footer {
  background-color: #030303;
  position: absolute;
  bottom: 0%;
  font-size: 12px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
footer ul{
  color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}

}


.hold {
background-color: #353535;
display: flex;
padding:30px 150px;
}

